target/
build/
linkembed-rs/
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.env
*.log
*.pdb
*.ilk
*.obj
*.o
*.out
*.exe
*.dll
*.so
*.dylib
__pycache__/
*.pyc
.vcpkg_cache/
.vcpkg_installed/
vcpkg_cache/
vcpkg_installed/
